# --- Python ---
MANIFEST
build
dist
*.egg-info
__pycache__/
*.py[cod]
venv
.venv

# --- VSCode ---
.vscode

# --- PyEnv ---
.python-version

# --- Python Tools ---
*.pytest_cache
*.mypy_cache

# --- jupyter notebooks ---
.ipynb_checkpoints
.mypy_cache
*.ipynb
